body {
    background-color: #D9E0EA;
    text-align: center;
}

h1, h2, h3, h4, blockquote, q, ul {
   font-family: 'Raleway', arial, sans-serif;
   font-style: normal;
   font-variant: normal;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

.hidden {
    display: none;
}

#player-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

#player-list > li {
    display: inline-block;
    white-space: nowrap;
    min-width: 75px;
    margin: 20px;
    padding-top: 85px;
    background:
        url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAwYzYuNjIzIDAgMTIgNS4zNzcgMTIgMTJzLTUuMzc3IDEyLTEyIDEyLTEyLTUuMzc3LTEyLTEyIDUuMzc3LTEyIDEyLTEyem04LjEyNyAxOS40MWMtLjI4Mi0uNDAxLS43NzItLjY1NC0xLjYyNC0uODUtMy44NDgtLjkwNi00LjA5Ny0xLjUwMS00LjM1Mi0yLjA1OS0uMjU5LS41NjUtLjE5LTEuMjMuMjA1LTEuOTc3IDEuNzI2LTMuMjU3IDIuMDktNi4wMjQgMS4wMjctNy43OS0uNjc0LTEuMTE5LTEuODc1LTEuNzM0LTMuMzgzLTEuNzM0LTEuNTIxIDAtMi43MzIuNjI2LTMuNDA5IDEuNzYzLTEuMDY2IDEuNzg5LS42OTMgNC41NDQgMS4wNDkgNy43NTcuNDAyLjc0Mi40NzYgMS40MDYuMjIgMS45NzQtLjI2NS41ODYtLjYxMSAxLjE5LTQuMzY1IDIuMDY2LS44NTIuMTk2LTEuMzQyLjQ0OS0xLjYyMy44NDggMi4wMTIgMi4yMDcgNC45MSAzLjU5MiA4LjEyOCAzLjU5MnM2LjExNS0xLjM4NSA4LjEyNy0zLjU5em0uNjUtLjc4MmMxLjM5NS0xLjg0NCAyLjIyMy00LjE0IDIuMjIzLTYuNjI4IDAtNi4wNzEtNC45MjktMTEtMTEtMTFzLTExIDQuOTI5LTExIDExYzAgMi40ODcuODI3IDQuNzgzIDIuMjIyIDYuNjI2LjQwOS0uNDUyIDEuMDQ5LS44MSAyLjA0OS0xLjA0MSAyLjAyNS0uNDYyIDMuMzc2LS44MzYgMy42NzgtMS41MDIuMTIyLS4yNzIuMDYxLS42MjgtLjE4OC0xLjA4Ny0xLjkxNy0zLjUzNS0yLjI4Mi02LjY0MS0xLjAzLTguNzQ1Ljg1My0xLjQzMSAyLjQwOC0yLjI1MSA0LjI2OS0yLjI1MSAxLjg0NSAwIDMuMzkxLjgwOCA0LjI0IDIuMjE4IDEuMjUxIDIuMDc5Ljg5NiA1LjE5NS0xIDguNzc0LS4yNDUuNDYzLS4zMDQuODIxLS4xNzkgMS4wOTQuMzA1LjY2OCAxLjY0NCAxLjAzOCAzLjY2NyAxLjQ5OSAxIC4yMyAxLjY0LjU5IDIuMDQ5IDEuMDQzeiIvPjwvc3ZnPg==)
        no-repeat
        center top;
    background-size: 75px 75px;
    transition:
        opacity .5s ease-in,
        width .5s ease-in-out,
        margin .5s ease-in-out;
}

#player-list > li > span {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition:
        max-width .5s ease-in-out;
}

#player-list > li.disappearing {
    opacity: 0;
    width: 75px;
    margin-left: -37.5px;
    margin-right: -37.5px;
}

#player-list > li.disappearing > span {
    max-width: 75px;
}

#player-list > li.disappearing > input {
    display: hidden;
}

#player-list > li input[type="button"] {
    vertical-align: top;
    background:
        url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptNC4xNTEgMTcuOTQzbC00LjE0My00LjEwMi00LjExNyA0LjE1OS0xLjgzMy0xLjgzMyA0LjEwNC00LjE1Ny00LjE2Mi00LjExOSAxLjgzMy0xLjgzMyA0LjE1NSA0LjEwMiA0LjEwNi00LjE2IDEuODQ5IDEuODQ5LTQuMSA0LjE0MSA0LjE1NyA0LjEwNC0xLjg0OSAxLjg0OXoiLz48L3N2Zz4=)
        no-repeat
        center center;
    background-size: 18px 18px;
    cursor:pointer;
    width: 18px;
    height: 18px;
    margin-left: 7px;
    border: none;
}

#player-list.immutable > li input[type="button"] {
    display: none;
}

#player-list > li input[type="button"]::-moz-focus-inner {
    border: 0;
}

#player-list > li#add-player-button {
    position: relative;
    width: 75px;
    height: 0px;
    padding-top: 75px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMS41IDBjNi4zNDcgMCAxMS41IDUuMTUzIDExLjUgMTEuNXMtNS4xNTMgMTEuNS0xMS41IDExLjUtMTEuNS01LjE1My0xMS41LTExLjUgNS4xNTMtMTEuNSAxMS41LTExLjV6bTAgMWM1Ljc5NSAwIDEwLjUgNC43MDUgMTAuNSAxMC41cy00LjcwNSAxMC41LTEwLjUgMTAuNS0xMC41LTQuNzA1LTEwLjUtMTAuNSA0LjcwNS0xMC41IDEwLjUtMTAuNXptLjUgMTBoNnYxaC02djZoLTF2LTZoLTZ2LTFoNnYtNmgxdjZ6Ii8+PC9zdmc+);
    cursor: pointer;
}

#player-list > li#add-player-button div {
    z-index: 3;
    opacity: 0;
    width: 220px;
    word-wrap: break-word;
    cursor: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(calc(-50% - 2.5px), 30px);
    padding: 1em;
    background-color: rgb(239, 218, 253);
    border-radius: 10px;
    border: 1px solid rgb(123, 132, 143);
    filter: drop-shadow(0 0 2px rgb(0, 0, 0, 0.5));
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

#player-list > li#add-player-button div > * {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

#player-list > li#add-player-button div input {
    font-size: 12pt;
}

#player-list > li#add-player-button div #article-text {
    padding-right: calc(1.35em + 5px);
}

#player-list > li#add-player-button div.modal {
    opacity: 1;
    transform: translate(calc(-50% - 2.5px), 10px);
}

#player-list > li#add-player-button div::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: calc(50% - .75rem);
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: rgb(239, 218, 253);
	filter: drop-shadow(0 -2px 1px rgb(0, 0, 0, 0.25));
}

#player-list > li#add-player-button div > span {
    position: relative;
}

#player-list > li#add-player-button div > span > * {
    width: -moz-available;
    width: -webkit-fill-available;
}

#player-list > li#add-player-button div > p {
    font-size: smaller;
    color: rgb(166, 143, 175);
}

@media (-moz-touch-enabled: 1), (pointer:coarse) {
    #player-list > li#add-player-button div > p {
        display: none;
    }
}

#player-list > li#add-player-button div > p > span {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    border: solid 1px rgb(166, 143, 175);
    border-radius: 0.3em;
    width: 1em;
    height: 1em;
    box-shadow: 1px 1px 0px rgb(166, 143, 175);
}

#player-list > li#add-player-button div #random-button {
    position: absolute;
    opacity: 0.8;
    top: calc((100% - 1.35em) / 2);
    margin-left: calc(-1.35em - 10px);
    width: 1.35em;
    height: 1.35em;
    background:
        url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDYuMzQ5OTk5OCA2LjM0OTk5OTgiPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTI5MC42NSkiPjxwYXRoIHN0eWxlPSJmaWxsLW9wYWNpdHk6MC43O3N0cm9rZS13aWR0aDowLjA1NDg2ODUyIiBkPSJtIDIuNzc4MTI1LDI5MC44MTUzNiBjIC0wLjMxMzIxODMsMC4wMzkxIC0wLjYwNTkyODEsMC4xNzUxNSAtMC45MDkzMDgyLDAuMjYwMTkgLTAuNDc4MjUxNCwwLjE1NTk0IC0wLjk1OTQ0ODQ3LDAuMzAzNDMgLTEuNDM1ODI0OTYsMC40NjQ3NCAtMC4zNjAxMzQwOCwwLjE0MzcyIC0wLjQ4OTQ0OTYyLDAuNTk0NjggLTAuMzMwMjU3MTksMC45MzEyIDAuMjE5NDc4MDUsMC42NzY2NSAwLjQzMDM3NDU3LDEuMzU2MjkgMC42NTUyNjYwOCwyLjAzMTA0IDAuMTQzNzIwNTgsMC4zNjAxNSAwLjU5NDY2Nzk3LDAuNDg5NDIgMC45MzEyMDI1NywwLjMzMDI4IDAuMjYwNjU0NiwtMC4wODM2IDAuNTIxMzA5MSwtMC4xNjcxNyAwLjc4MTk2MzcsLTAuMjUwNzUgMC4wMDc4MiwtMC4zMzMxMyAtMC4wMTczMiwtMC42Njg1IDAuMDE1OTkyLC0wLjk5OTk1IDAuMDcxMjQ0LC0wLjQwMTIzIDAuNDgwMzg1OSwtMC42NzY2MSAwLjg3ODI0NjcsLTAuNjMwOTYgMC4xOTY4MDg1LDAgMC4zOTM2MTY5LDAgMC41OTA0MjU0LDAgLTAuMTg1OTEwOCwtMC41NzQ0NyAtMC4zNjYxMDksLTEuMTUwOSAtMC41NTU2MTQyLC0xLjcyNDE0IC0wLjA5ODc3MywtMC4yNDczOCAtMC4zNTU4MzE3LC0wLjQxNzI3IC0wLjYyMjA5MTksLTAuNDExNjUgeiBtIC0wLjAxNzA1MywwLjQwMjU2IGMgMC4zNDM5NzkyLC0wLjAyMTUgMC41NjI0NTIsMC40MzQ4NCAwLjMyOTg3MTksMC42ODkzIC0wLjIwMjAzNTgsMC4yNzI0MiAtMC42ODM1Nzk2LDAuMTU1NCAtMC43Mzc2MTAyLC0wLjE3OTYzIC0wLjA2MDc5MSwtMC4yNTIwOSAwLjE0ODc3MzgsLTAuNTEzMTcgMC40MDc3MzgzLC0wLjUwOTY3IHogbSAtMS45NjIxNTQxOCwwLjYxOTYgYyAwLjM0Mzk3OTI4LC0wLjAyMTUgMC41NjI0NTIxOCwwLjQzNDg0IDAuMzI5ODcxOTgsMC42ODkzIC0wLjIwMTk5NDUyLDAuMjcyNTEgLTAuNjgzMzgwNzYsMC4xNTQ3IC0wLjczNzA2MTIsLTAuMTgwMTYgLTAuMDYwNDgyMiwtMC4yNTE2NCAwLjE0ODU2ODI4LC0wLjUxMjY0IDAuNDA3MTg5MjIsLTAuNTA5MTQgeiBtIDIuNjYyODg2NDgsMS40MzcxMyBjIC0wLjQwMzkxNjksLTAuMDEzOCAtMC43MTk5ODY4LDAuMzgyNDUgLTAuNjY3NjU5NCwwLjc3MTc2IDAuMDAyMjYsMC43MTcwNyAtMC4wMDQ1NCwxLjQzNDM4IDAuMDAzNDMsMi4xNTEzMSAwLjAyNjc1OSwwLjM4NjgxIDAuNDE2NTU5MiwwLjY0Nzk3IDAuNzg1NjgyMywwLjU5OTE5IDAuNzExMjkxOCwtMC4wMDIgMS40MjI4MTAzLDAuMDA1IDIuMTMzOTU4NywtMC4wMDMgMC4zODY4MjgsLTAuMDI2OCAwLjY0ODUzMTEsLTAuNDE2MzcgMC41OTk3MDc1LC0wLjc4NTY4IC0wLjAwMjI2LC0wLjcxMTI5IDAuMDA0NTUsLTEuNDIyODEgLTAuMDAzNDQsLTIuMTMzOTYgLTAuMDI2OTU3LC0wLjM4NjkgLTAuNDE3MDEwOCwtMC42NDc5IC0wLjc4NjE5MzUsLTAuNTk5MTkgLTAuNjg4NDk2NiwwIC0xLjM3Njk5MzIsMCAtMi4wNjU0ODk4LDAgeiBtIC0yLjA3ODk0MjgsMC4zODE4OCBjIDAuMzQzOTc5MywtMC4wMjE1IDAuNTYyNDUyMiwwLjQzNDg0IDAuMzI5ODcxOSwwLjY4OTMgLTAuMjAxOTAzOSwwLjI3MjM0IC0wLjY4MzAzNDQsMC4xNTUwMyAtMC43MzcxMDg2MywtMC4xNzk2MyAtMC4wNjA4NDMsLTAuMjUxODUgMC4xNDgzNjQ3MywtMC41MTMxOCAwLjQwNzIzNjczLC0wLjUwOTY3IHogbSA0LjIwMTI5NCwwLjAwOCBjIDAuMzQzOTk5OCwtMC4wMTc3IDAuNTU3NDk0LDAuNDQwOTQgMC4zMjE5OTIzLDAuNjkyNTQgLTAuMjA4MTQ1OCwwLjI3NDgxIC0wLjY5NjI1MDIsMC4xNDE5NyAtMC43MzcwNTAzLC0wLjIwMDA3IC0wLjA0OTA2NiwtMC4yNDkxMSAwLjE2MTA1NTYsLTAuNDk4NjIgMC40MTUwNTgsLTAuNDkyNDcgeiBtIC0xLjAyODg3NzgsMC45NDUxNiBjIDAuMzQ0MjUyMywtMC4wMTgxIDAuNTU4MDA3NSwwLjQ0MDY3IDAuMzIyODQyMiwwLjY5MjY2IC0wLjIwODA0NzQsMC4yNzUyMyAtMC42OTcwMjM2LDAuMTQyODIgLTAuNzM3OTAwNCwtMC4xOTk2NyAtMC4wNDkxOTksLTAuMjQ5MjggMC4xNjA3NzUzLC0wLjQ5OTE0IDAuNDE1MDU4MiwtMC40OTI5OSB6IG0gLTEuMDI4ODc3OCwwLjk1NTUgYyAwLjM0NDIxMjYsLTAuMDE4MSAwLjU1ODE3OCwwLjQ0MDc3IDAuMzIyNTA5MSwwLjY5MjU0IC0wLjIwODI1MjUsMC4yNzQ3OSAtMC42OTY3MDY0LDAuMTQyMTggLTAuNzM3NTY3MSwtMC4yMDAwNyAtMC4wNDkwNjYsLTAuMjQ5MTEgMC4xNjEwNTU2LC0wLjQ5ODYyIDAuNDE1MDU4LC0wLjQ5MjQ3IHoiLz48L2c+PC9zdmc+)
        no-repeat
        center center;
        background-size: contain;
}

#modal-overlay {
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
    transition: opacity 0.25s ease-in-out;
}

#modal-overlay.modal {
    opacity: 1;
}

#quest-button {
    display: inline-block;
    height: 100%;
    background: none;
    cursor: pointer;
    font-family: 'Raleway', arial, sans-serif;
    font-size: 36pt;
    font-weight: 300;
    border: solid 2px black;
    border-radius: 999px;
    padding: 10pt 46pt;
    max-width: 100%;
    overflow: hidden;
    transition:
        color 0.25s ease-in-out,
        padding 0.25s ease-in-out,
        max-width 0.5s ease-in-out,
        border-color 0.25s ease-in-out;
}

#quest-button::-moz-focus-inner {
    border: 0;
}

#quest-button.collapsed {
    color: transparent;
    max-width: 0;
}

#quest-button.primed {
    color: crimson;
    border-color: crimson;
    background:
        url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIHN0eWxlPSJmaWxsOiBjcmltc29uOyIgZD0iTTEyIDExLjI5M2wxMC4yOTMtMTAuMjkzLjcwNy43MDctMTAuMjkzIDEwLjI5MyAxMC4yOTMgMTAuMjkzLS43MDcuNzA3LTEwLjI5My0xMC4yOTMtMTAuMjkzIDEwLjI5My0uNzA3LS43MDcgMTAuMjkzLTEwLjI5My0xMC4yOTMtMTAuMjkzLjcwNy0uNzA3IDEwLjI5MyAxMC4yOTN6Ii8+PC9zdmc+)
        no-repeat
        18pt center;
    background-size: 36pt 36pt;
    padding-left: 66pt;
    padding-right: 26pt;
}

#quest-button.draw {
    font-style: italic;
    background:
        url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMC41IDI0aC03Yy0xLjQgMC0yLjUtMS4xNC0yLjUtMi41di0xMS42NGMtLjY2Mi0uNDczLTEtMS4yMDEtMS0xLjk0MSAwLS4zNzYuMDg5LS43NS4yODktMS4xMjkgMS4wNjUtMS44OTggMi4xNTMtMy43ODMgMy4yNjUtNS42NTQuNDYyLS43MzcgMS4yMTEtMS4xMzYgMi4wNDUtMS4xMzYuNjM1IDAgLjk3Mi4yMDQgMS40NDUuNDc5LjY2Mi4zODYgOSA1LjM1MiAxMi41MTIgNy40NDEuMDg3LjA1MiAzLjM2NiAxLjk4OCAzLjQ0OSAyLjA0NS42NjMuNDkuOTk1IDEuMTk3Ljk5NSAxLjkzNCAwIC4zNzUtLjA5Mi43NDUtLjI5NSAxLjEzLTEuMDY0IDEuODk5LTIuMTUzIDMuNzg0LTMuMjY1IDUuNjU1LS41NzcuOTItMS42MTUgMS4yOS0yLjQ5NiAxLjA4OC0uMzkyLjIzNC01LjgyNiAzLjc1LTYuMjUyIDMuOTY4LS40MTMuMjEyLS43NjIuMjYtMS4xOTIuMjZtLTcuNS0xMC43NjN2OC4yNjNjMCAuMjc0LjIyMS41LjUuNWg0LjU4OGMtMS43Mi0yLjkwNi0zLjQxNy01LjgyNy01LjA4OC04Ljc2M20xLjYwNi0xLjIzOGMuMDUzLjA5MiA1LjY4MSA5Ljc5NyA1LjcyNiA5Ljg1OS4xMDguMTM5LjI5OS4xODEuNDU1LjA5OC4xNjQtLjA5MiA1LjA4MS0zLjI1MSA1LjA4MS0zLjI1MS0uNjM5LS4zNzctOC4xNDQtNC44NTEtMTEuMjYyLTYuNzA2bS42NTktOS44MjljLS45MTMgMS40NTYtMy4xOTkgNS41MjUtMy4yMzUgNS42MS0uMDcuMTcxLS4wMDguMzY2LjE0OS40NjQuMjAxLjEyIDE2LjAyMyA5LjU0NyAxNi4xNzcgOS41NzEuMTUxLjAyMi4yOTctLjA0NS4zNzctLjE3NC45NDItMS41ODQgMy4yMDYtNS41NSAzLjIzMi01LjYwMS4wNjktLjE3Mi4wMDctLjM2Ny0uMTUtLjQ2NS0uMjAxLS4xMi0xNS45ODMtOS40OTktMTYuMDktOS41NDYtLjE4LS4wNzQtLjM2NS0uMDAyLS40Ni4xNDFtMS41NTcgMi42OTVjMS4xMDQgMCAyIC44OTcgMiAyIDAgMS4xMDQtLjg5NiAyLTIgMnMtMi0uODk2LTItMmMwLTEuMTAzLjg5Ni0yIDItMiIvPjwvc3ZnPg==)
        no-repeat
        18pt center;
    background-size: 36pt 36pt;
    padding-left: 66pt;
    padding-right: 26pt;
}

#quest-block {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

#quest-block.visible {
    opacity: 1;
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.delay-1 {
    animation: fade-in 2s ease-out;
    animation-fill-mode: both;
    animation-delay: 0s;
}

.delay-2 {
    animation: fade-in 2s ease-out;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.delay-3 {
    animation: fade-in 2s ease-out;
    animation-fill-mode: both;
    animation-delay: 1s;
    font-style: italic;
}

.delay-4 {
    animation: fade-in 2s ease-out;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

.delay-5 {
    animation: fade-in 2s ease-out;
    animation-fill-mode: both;
    animation-delay: 2s;
}

.delay-6 {
    animation: fade-in 2s ease-out;
    animation-fill-mode: both;
    animation-delay: 2.5s;
    font-weight: 700;
}